/*Core*/

* {
  margin: 0;
  padding: 0;
  font-family: "Alegreya Sans"
}
#main-header {
  height: 401px;
  width:auto;
  border-bottom: 1px solid white;
}
#main-header img {
  position: absolute;
  opacity: 0.80;
  z-index: -1;
}
#main-header .logo {
  display: inline-block;
  margin: 30px;
  height: 75px;
  width: 500px;
  padding-top: 40px;
  text-align: center;
  background-color: #eec66d;
  opacity: 0.80;
  color: #333;
  font-weight: 600px;
  letter-spacing: 3px;
}

.logo span {
  color: white;
  font-size: 20px;
}
.navbar ul {
  text-align: center;
  background-color:#333;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar li {
  display: inline;
  font-size: 20px;
  padding: 50px;
  }
.navbar a {
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
}

.index, .about, .contact {
  background: #333;
}

.picture img {
  width: 450px;
  float: right;
  margin-right: 30px;
  margin-top: -130px
}

.content-text {
  background-color: #eec66D;
  height: 250px;
  margin-top: 75px
}

.content-text h2, h4{
  font-family: "Lobster", cursive;
}

.content-text h2 {
  text-align: center;
  margin: 30px;
  padding-top: 20px;
  font-size: 40px;
  color: #333;
}

.content-text h4 {
  text-align: center;
  color: #333;
  font-size: 25px;
}

.content-text p {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

div .action {
  display: inline-block;
}

button {

}

.social {
  height: 200px;
  width: auto;
  text-align:center;
  border-top: 2px solid white;
}

.fa-facebook-f {
  padding: 30px;
    color: white;
}

.fa-instagram {
  padding-top: 4px;
  padding: 30px;
  color: white;
}
.fa-linkedin-in {
  padding: 30px;
  color: white;
}

.social a {
  display: inline-block;
  position: relative;
  top: 70px;
}

#main-footer {
  height: 100px;
  background-color: white;
}
.contacts li {
  /* display: inline-block; */
  list-style: none;
}

.contacts h3 {
  margin-left: 15px;
  margin-top: 10px;
  color: #333;
}
.copy h5 {
  text-align: center;
  color: #333;
  padding-top: 10px;
}

.contacts i {
  margin-left: 15px;
  font-size: 18px;
  color: #333;
  }

  .contacts span {
    font-family: "Alegreya Sans"
  }

  /*services page */

  .services-pg, .main-content{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
  }

  .pimg1, .pimg2, .pimg3, .pimg4, .pimg5 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .pimg1 {
    background-image: url('../images/pimg1.jpeg');
    min-height: 300px;
  }

  .pimg2 {
    background-image: url('../images/pimg2.jpeg');
    min-height: 300px;
  }
  .pimg3 {
    background-image: url('../images/pimg3.jpg');
    min-height: 300px;
  }
  .pimg4 {
    background-image: url('../images/pimg4.jpeg');
    min-height: 300px;
  }

  .pimg5 {
    background-image: url('../images/pimg5.jpg');
    min-height: 300px;
  }

  .section-services {
    text-align: center;
    padding: 50px 80px;
    letter-spacing: 2px;
  }

  .section-light {
    background-color: #eec66d;
    color: #333;
  }

  .section-dark {
    background-color: #333;
    color: white;
  }

  .ptext {
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: 600;
    font-size: 27px;
    font-family: "Lobster"
    letter-spacing: 8px;
    text-transform: uppercase;
  }

  .social{
    background-color: #333;
    top: 60%;
  }
